* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 40px 80px;
}

.header-info {
    display: flex;
    justify-content: center;
}


.fs-20, .fs-10, .btn {
    /* font-family: 'My Soul', cursive; */
    font-family: 'Poppins', sans-serif;
}