* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imgg img {
    width: 70%;
}

.header-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}


.fs-20, .fs-10, .btn {
    /* font-family: 'My Soul', cursive; */
    font-family: 'Poppins', sans-serif;
}
